<section class="sidebar">
	<div class="mt-3 text-center">
		<div class="primary-title">Développeur Web</div>
		<div>Ruby on Rails</div>
	</div>
	<img class='avatar mt-3' src="https://avatars0.githubusercontent.com/u/26514822?s=400&u=1e1b8e77e9491832f9ddc1598fb5c11349cf49e1&v=4" alt="logo">
	<div class="mt-3 text-center">
		<div>DIHARS Mendy</div>
		<div>23 ans</div>
		<div>mendy.dihars@laposte.net</div>
	</div>
	<nav class="mt-5">
		<a href="#" class="nav-link">Compétences</a>
		<a href="#" class="nav-link">Formations</a>
		<a href="#" class="nav-link">Réalisations</a>
	</nav>
</section>